.main 
  .main__header 
    .main__header--left
      .main__header--left--group_name
        aaaa
      .main__header--left--group_member
        bbb
    .main__header--edit
      = link_to "#" do
        Edit
  .main__messages
    .main__messages--list
      .main__messages--list--name
        YUJI
        .main__messages--list--name--create
          2020/04/23(Thu) 13:00:01
      .main__messages--list--message
        おはよう！!!!!!!!!!!!!!!!!!!
    
    .main__messages--list
      .main__messages--list--name
        asano
        .main__messages--list--name--create
          2020/04/23(Thu) 13:00:01
      .main__messages--list--message
        おはよう！

    .main__messages--list
      .main__messages--list--name
        acb
        .main__messages--list--name--create
          2020/04/23(Thu) 13:00:01
      .main__messages--list--message
        aiueo 

  .main__form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon("fas", "image")
          %input{type: "file", class: "input-box__image--file"}
      %input{type: "submit", value: "Send", class: "submit_btn"}