.message{data: {message: {id: message.id}}}
  .main__messages--list
    .main__messages--list--title
      .main__messages--list--title--name
        = message.user.name
      .main__messages--list--title--create
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .main__messages--list--message
      - if message.content.present?
        %p.lower-message__content
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

